@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+US+Modern:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.img_border{
border: 5px solid rgb(255, 255, 255);
}

.bg-gradient{
  padding: 3px;
 border-radius: 13px;
  background: linear-gradient(to top right, rgb(0, 0, 0), rgba(163, 162, 162, 0.756));
}

.btn-CIK{
border-bottom: black solid 3px;
font-weight: bold;
width: fit-content;

}

.CIK-leftside{
 padding-right: 15px;
  height: 80vh;
border-right: 1px solid #7575754c;
}
.CIK-rightside{
  padding-left: 15px;
  height: 80vh;
border-left: 1px solid #7575754c;
}

.CIK-posts{
  height: 80vh;
}

.side-item{

  width:190px;
  padding: 10px 70px 10px 20px  ;
  border-radius: 15px;

}



@layer utilities {

.max-container {
  max-width: 1440px;
  margin: 0 auto;
}
}

