@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+US+Modern:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.img_border{
border: 5px solid rgb(255, 255, 255);
}

.bg-gradient{
  padding: 3px;
 border-radius: 13px;
  background: linear-gradient(to top right, rgb(0, 0, 0), rgba(163, 162, 162, 0.756));
}

.btn-CIK{
border-bottom: black solid 3px;
font-weight: bold;
width: fit-content;

}

.CIK-leftside{
 padding-right: 30px;
  height:200vh;
border-right: 1px solid #7575754c;
margin-left: 20px;
}
.CIK-rightside{
  padding-left: 15px;
  height:200vh;
border-left: 1px solid #7575754c;
}

.CIK-posts{
  height:200vh;
}

.side-item{

  width:190px;
  padding: 10px 70px 10px 20px  ;
  border-radius: 15px;

}

.CIL-create_post{
  border: 1px solid rgba(0, 0, 0, 0.282);
  height: 100px;
  border-radius: 15px;
  width: 100%;

}
.CIL-input{
  width:100%;
  margin-left: 20px;
  padding: 20px 0px 20px  0px;
  
}
.CIL-input:focus{
  outline: none;
  border: none;

}
.CIL-post{
  /*border: 1px solid black;*/
  border-radius: 20px;
  background-color:#F0F1F4;
  height: fit-content;

}
.CIL-post-items{
  background-color: white;
  border-radius: 20px;
 
}
.post-text{
  width: 450px;
  height: 170px;
}

.CIK-btn_black{
padding: 3px 3px;
 border: 1px black solid;
 border-radius: 10px;

}

.JC-btn_contain{
  border: 1px solid black;
  padding: 7px 15px;
  border-radius: 8px;
  color: white;
  background-color: black;
  font-weight: bold;
}


@layer utilities {

.max-container {
  max-width: 1440px;
  margin: 0 auto;
  
}
}

