.container-1 {
  padding: 30px;
}

.links {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;

}

.google-img {
  display: flex;
  align-items: center;
  justify-items: center;
  padding-top: 200px;
  flex-direction: column;
  width: 100%;
}

.google-img img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;

}


.google-img span {
  color: #4285f2;
  font: 16px;
  position: absolute;
  top: 400px;
  white-space: nowrap;
}

.s-bar {
  margin: 20px;
  padding: 16px 400px 16px 20px;
  border: 1px rgb(200, 199, 199) solid;
  border-radius: 50px;



}

input .s-bar:focus {
  outline: none;
}



.google-form {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.s-btn input {
  margin-right: 15px;
}

.a-nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;


}

.a-nav img {
  object-fit: contain;
}

.a-p {
  color: red;
  font-size: 20px;
  margin-left: 20px;
}

.form-content {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;

}

.form-inputs {
  display: flex;
  flex-direction: row;
  gap: 70px;
  align-items: center;

}

.form-inputs input {
  width: 400px;
  padding: 3px 300px 3px 20px;
  border: 1px rgb(200, 199, 199) solid;

}

.form-inputs p {
  margin: 0px;
  width: 200px;
}

.s-input {
  width: 190px;
  padding: 3px 150px 3px 20px;
  border: 1px rgb(200, 199, 199) solid;

}

.s-div-input {
  margin-left: 37px;
}

.s-form-input {

  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;


}

.s-p {
  margin: 0px;
  width: 200px;
}