{% extends "auctions/layout.html" %}

{% block title %}
Auctions
{% endblock %}

{% block body %}
<h2>Listing: {{ list_detail.details_auctionlist.auction_list.all.0.title }}</h2>

<div class="listing">
  <img src="{{ list_detail.details_auctionlist.auction_list.all.0.image_url }}"
    alt="Image of {{ list_detail.details_auctionlist.auction_list.all.0.title }}">
  {% if not list_detail.description %}
  <h3>No description for item </h3>
  {% else %}
  <h3>{{ list_detail.description }}</h3>
  {% endif %}
  <h4>Current Bid: {{ list_detail.bid }}</h4>
  <form method="post" action="">
    {% csrf_token %}
    <input type="number" name="bid" step="0.01" min="{{ list_detail.bid }}" required>
    <input type="submit" value="Place Bid">
  </form>
  <h2>Details</h2>
  <ul>
    <li>Listed by: {% for user in list_detail.user.all %}{{ user.username }}{% if not forloop.last %}, {% endif %}{%
      endfor %}</li>
  </ul>
</div>

{% endblock %}