{% extends "auctions/layout.html" %}

{% block body %}
<style>
    .form-control {
        padding: 8px;
        border: 1px solid #0000001b;

    }
</style>

<section class=" p-5 pt-10 flex justify-center items-center flex-col gap-5">

    <h2 class="highlight bg-red-700 text-4xl font-nun font-bold mb-10 justify-center flex">Register</h2>

    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <form class=" w-fit h-fit p-10 shadow-lg font-nun " action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class=" flex flex-col justify-center items-center gap-5 ">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">


            <input class="form-control" type="email" name="email" placeholder="Email Address">


            <input class="form-control" type="password" name="password" placeholder="Password">


            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">

            <button type="submit" value="Register">Register</button>
        </div>
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>
</section>



{% endblock %}